:host{
    display: block;
    margin-top:1rem ;
}

.para-content{
    text-align: center;
}

mat-spinner{
    margin: auto;

}

.image-display{
    width: 50%;
}
.image-display img{
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}