<mat-spinner *ngIf="isLoading"></mat-spinner>
<!-- <mat-accordion *ngIf ="postsList.length>0 && !isLoading" multi="true"> -->
<mat-accordion *ngIf ="postsList.length>0 && !isLoading" multi="false">
    <mat-expansion-panel *ngFor="let postListDisplay of postsList">
        
        <mat-expansion-panel-header>
            {{postListDisplay.title}}
        </mat-expansion-panel-header>
        <div class="image-display">
            <img [src]="postListDisplay.imagePath" [alt]="postListDisplay.title">
        </div>
        <p>{{postListDisplay.content}}</p>
        <mat-action-row>
            <a mat-button color="primary" [routerLink]="['/edit',postListDisplay.id]">EDIT</a>
            <button mat-button color="warn" (click)="onDeletePost(postListDisplay.id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
    
</mat-accordion>

<p class="para-content mat-body-1" *ngIf="postsList.length<=0 && !isLoading">No posts are available!</p>